In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import numpy as np
from time import time

In [12]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); print('df','\n',df,'\n')
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True, False] * 2});print('df_mask','\n',df_mask,'\n')
df.where(df_mask,-1000)

df
    AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

df_mask
     AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

   AAA   BBB   CCC
0    4 -1000   100
1    5 -1000 -1000
2    6 -1000   -30
3    7 -1000 -1000

In [15]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
newseries = df.loc[(df['BBB'] < 35) & (df['CCC'] >= -20), 'AAA']; newseries

df
    AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

0    4
1    5
Name: AAA, dtype: int64

In [18]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
# 方法一
Crit1 = df.AAA <= 5.5
Crit2 = df.BBB == 10.0 
Crit3 = df.CCC > -40.0
AllCrit=Crit1&Crit2&Crit3
print('方法1','\n',df[AllCrit],'\n')
#Method 2
CritList=[Crit1,Crit2,Crit3]
import functools
AllCrit = functools.reduce(lambda x,y: x & y, CritList)
print('Method 2','\n',df[AllCrit],'\n')

df
    AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

方法1
    AAA  BBB  CCC
0    4   10  100

Method 2
    AAA  BBB  CCC
0    4   10  100

In [20]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
df.loc[(df['CCC']+10).abs().argsort()]

df
    AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50
1    5   20   50
0    4   10  100

In [28]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
df.loc[df['AAA']>5 & df.index.isin([0,2,4])] # 错误！！！注意，如果每个条件不打括号的花，那么实际上是先对'&'进行运算
df.loc[(df['AAA']>5) & (df.index.isin([0,2,4]))] # 正确
df[(df['AAA']>5) & (df.index.isin([0,2,4]))]

df
    AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC
2    6   30  -30

In [31]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
df[~((df.AAA <= 6) & (df.index.isin([0,2,4])))]

df
    AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

In [46]:
rng1 = pd.date_range('1/1/2013',periods=100,freq='D') 
rng2 = pd.date_range('1/1/2014',periods=100,freq='D') 
data = np.random.randn(100, 4)
cols = ['A','B','C','D']
df1, df2, df3 = pd.DataFrame(data, rng1, cols), pd.DataFrame(data[:50], rng1[:50], cols), pd.DataFrame(data[50:], rng2[50:], cols)
pf = pd.Panel({'df1':df1,'df2':df2,'df3':df3});pf # 数据会自动对齐(index取并集)并填充nan

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 150 (major_axis) x 4 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2014-04-10 00:00:00
Minor_axis axis: A to D

In [48]:
df = pd.DataFrame({'AAA' : [1,2,1,3], 'BBB' : [1,1,2,2], 'CCC' : [2,1,3,1]}); df
source_cols = df.columns # or some subset would work too. 
new_cols = [str(x) + "_cat" for x in source_cols]
categories = {1 : 'Alpha', 2 : 'Beta', 3 : 'Charlie' }
df[new_cols] = df[source_cols].applymap(categories.get);df # applymap可以对 DataFrame 进行元素级运算

   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha

In [58]:
df = pd.DataFrame({'AAA' : [1,1,1,2,2,2,3,3], 'BBB' : [2,1,3,4,5,1,2,3]}); print('df','\n',df,'\n')
df.loc[df.groupby('AAA')['BBB'].idxmin()]
df.sort_values(by="BBB").groupby("AAA", as_index=False).first() # 无法保持原来的 index

df
    AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

   AAA  BBB
0    1    1
1    2    1
2    3    2

In [95]:
df = pd.DataFrame({'row' : [0,1,2],
....: 'One_X' : [1.1,1.1,1.1],
....: 'One_Y' : [1.2,1.2,1.2],
....: 'Two_X' : [1.11,1.11,1.11],
....: 'Two_Y' : [1.22,1.22,1.22]})
df = df.set_index('row');df
df.columns = pd.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns]);df
df.stack(1).reset_index(0) # reset_index 就是把对应的index变成一个新的column或者删除(drop=True)
df.reset_index(col_level=1) # 参数 col_level 可以控制新的column进入col_level

       One        Two
  row    X    Y     X     Y
0   0  1.1  1.2  1.11  1.22
1   1  1.1  1.2  1.11  1.22
2   2  1.1  1.2  1.11  1.22

In [124]:
cols = pd.MultiIndex.from_tuples([ (x,y) for x in ['A','B','C'] for y in ['O','I']])
df = pd.DataFrame(np.random.randn(2,6),index=['n','m'],columns=cols); df
df.div(df['C'],level=1)
df.div(df[('C','O')],level=1) #  都是 NaN ？？？？？？？？？？？？？？？

    A       B       C
    O   I   O   I   O   I
n NaN NaN NaN NaN NaN NaN
m NaN NaN NaN NaN NaN NaN

In [132]:
coords = [('AA','one'),('AA','six'),('BB','one'),('BB','two'),('BB','six')] 
index = pd.MultiIndex.from_tuples(coords)
df = pd.DataFrame([11,22,33,44,55],index,['MyData']); df
df.xs('AA',level=0)
df.xs('six',level=1)

    MyData
AA      22
BB      55

In [161]:
import itertools
index = list(itertools.product(['Ada','Quinn','Violet'],['Comp','Math','Sci']))
headr = list(itertools.product(['Exams','Labs'],['I','II']))
indx = pd.MultiIndex.from_tuples(index,names=['Student','Course']) 
cols = pd.MultiIndex.from_tuples(headr) #Notice these are un-named 
data = [[70+x+y+(x*y)%3 for x in range(4)] for y in range(9)]
df = pd.DataFrame(data,indx,cols); df
# 使用 loc
All=slice(None)
df.loc[(slice('Ada','Quinn'),'Math'),All]
df.loc[(All,'Math'),(All,'II')]
# 使用 xs
df.xs((slice('Ada','Quinn'),'Math'),level=[0,'Course'])
df.xs('Math',level=1)[[('Exams','II'),('Labs','II')]]
df.xs('Math',level=1)[list(itertools.product(['Exams','Labs'],['II']))] # ['II'] 一定要用方括号加持，因为len(('II'))和len(['II'])是不一样的！！！！！！！

        Exams Labs
           II   II
Student
Ada        73   74
Quinn      76   77
Violet     79   80

1