In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import numpy as np
from time import time

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); print('df','\n',df,'\n')
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True, False] * 2});print('df_mask','\n',df_mask,'\n')
df.where(df_mask,-1000)

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
newseries = df.loc[(df['BBB'] < 35) & (df['CCC'] >= -20), 'AAA']; newseries

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
# 方法一
Crit1 = df.AAA <= 5.5
Crit2 = df.BBB == 10.0 
Crit3 = df.CCC > -40.0
AllCrit=Crit1&Crit2&Crit3
print('方法1','\n',df[AllCrit],'\n')
#Method 2
CritList=[Crit1,Crit2,Crit3]
import functools
AllCrit = functools.reduce(lambda x,y: x & y, CritList)
print('Method 2','\n',df[AllCrit],'\n')

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
df.loc[(df['CCC']+10).abs().argsort()]

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
df.loc[df['AAA']>5 & df.index.isin([0,2,4])] # 错误！！！注意，如果每个条件不打括号的花，那么实际上是先对'&'进行运算
df.loc[(df['AAA']>5) & (df.index.isin([0,2,4]))] # 正确
df[(df['AAA']>5) & (df.index.isin([0,2,4]))]

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});print('df','\n',df,'\n')
df[~((df.AAA <= 6) & (df.index.isin([0,2,4])))]

In [ ]:
rng1 = pd.date_range('1/1/2013',periods=100,freq='D') 
rng2 = pd.date_range('1/1/2014',periods=100,freq='D') 
data = np.random.randn(100, 4)
cols = ['A','B','C','D']
df1, df2, df3 = pd.DataFrame(data, rng1, cols), pd.DataFrame(data[:50], rng1[:50], cols), pd.DataFrame(data[50:], rng2[50:], cols)
pf = pd.Panel({'df1':df1,'df2':df2,'df3':df3});pf # 数据会自动对齐(index取并集)并填充nan

In [ ]:
df = pd.DataFrame({'AAA' : [1,2,1,3], 'BBB' : [1,1,2,2], 'CCC' : [2,1,3,1]}); df
source_cols = df.columns # or some subset would work too. 
new_cols = [str(x) + "_cat" for x in source_cols]
categories = {1 : 'Alpha', 2 : 'Beta', 3 : 'Charlie' }
df[new_cols] = df[source_cols].applymap(categories.get);df # applymap可以对 DataFrame 进行元素级运算

In [ ]:
df = pd.DataFrame({'AAA' : [1,1,1,2,2,2,3,3], 'BBB' : [2,1,3,4,5,1,2,3]}); print('df','\n',df,'\n')
df.loc[df.groupby('AAA')['BBB'].idxmin()]
df.sort_values(by="BBB").groupby("AAA", as_index=False).first() # 无法保持原来的 index

In [ ]:
df = pd.DataFrame({'row' : [0,1,2],
....: 'One_X' : [1.1,1.1,1.1],
....: 'One_Y' : [1.2,1.2,1.2],
....: 'Two_X' : [1.11,1.11,1.11],
....: 'Two_Y' : [1.22,1.22,1.22]})
df = df.set_index('row');df
df.columns = pd.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns]);df
df.stack(1).reset_index(0) # reset_index 就是把对应的index变成一个新的column或者删除(drop=True)
df.reset_index(col_level=1) # 参数 col_level 可以控制新的column进入col_level

In [ ]:
cols = pd.MultiIndex.from_tuples([ (x,y) for x in ['A','B','C'] for y in ['O','I']])
df = pd.DataFrame(np.random.randn(2,6),index=['n','m'],columns=cols); df
df.div(df['C'],level=1)
df.div(df[('C','O')],level=1) #  都是 NaN ？？？？？？？？？？？？？？？

In [ ]:
coords = [('AA','one'),('AA','six'),('BB','one'),('BB','two'),('BB','six')] 
index = pd.MultiIndex.from_tuples(coords)
df = pd.DataFrame([11,22,33,44,55],index,['MyData']); df
df.xs('AA',level=0)
df.xs('six',level=1)

In [ ]:
import itertools
index = list(itertools.product(['Ada','Quinn','Violet'],['Comp','Math','Sci']))
headr = list(itertools.product(['Exams','Labs'],['I','II']))
indx = pd.MultiIndex.from_tuples(index,names=['Student','Course']) 
cols = pd.MultiIndex.from_tuples(headr) #Notice these are un-named 
data = [[70+x+y+(x*y)%3 for x in range(4)] for y in range(9)]
df = pd.DataFrame(data,indx,cols); df
# 使用 loc
All=slice(None)
df.loc[(slice('Ada','Quinn'),'Math'),All]
df.loc[(All,'Math'),(All,'II')]
# 使用 xs
df.xs((slice('Ada','Quinn'),'Math'),level=[0,'Course'])
df.xs('Math',level=1)[[('Exams','II'),('Labs','II')]]
df.xs('Math',level=1)[list(itertools.product(['Exams','Labs'],['II']))] # ['II'] 一定要用方括号加持，因为len(('II'))和len(['II'])是不一样的！！！！！！！
df.sort_values(by=('Labs', 'II'), ascending=False)

In [ ]:
df = pd.DataFrame(np.random.randn(6,1), index=pd.date_range('2013-08-01', periods=6, freq='B'), columns=list('A'))
df.loc[df.index[3], 'A'] = np.nan;df
df.reindex(df.index[::-1]).ffill()

In [16]:
df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(),
....: 'size': list('SSMMMLL'),
....: 'weight': [8, 10, 11, 1, 2, 12, 12],
....: 'adult' : [False] * 5 + [True] * 2});print('df','\n',df,'\n')
df.groupby('animal').apply(lambda subf: subf['size'][subf['weight'].idxmax()])
df.groupby('animal').get_group('cat')

gb = df.groupby(['animal'])
def GrowUp(x):
    avg_weight = sum(x[x['size'] == 'S'].weight * 1.5)
    avg_weight += sum(x[x['size'] == 'M'].weight * 1.25)
    avg_weight += sum(x[x['size'] == 'L'].weight)
    avg_weight /= len(x)
    return pd.Series(['L',avg_weight,True], index=['size', 'weight', 'adult'])
expected_df = gb.apply(GrowUp);expected_df

df
    adult animal size  weight
0  False    cat    S       8
1  False    dog    S      10
2  False    cat    M      11
3  False   fish    M       1
4  False    dog    M       2
5   True    cat    L      12
6   True    cat    L      12

       size   weight  adult
animal
cat       L  12.4375   True
dog       L   8.7500   True
fish      L   1.2500   True

In [33]:
import functools
S = pd.Series([i / 100.0 for i in range(1,11)])
def CumRet(x,y):
    return x * (1 + y)
def Red(x):
    return functools.reduce(CumRet,x,1.0)
S.expanding().apply(Red)

0    1.010000
1    1.030200
2    1.061106
3    1.103550
4    1.158728
5    1.228251
6    1.314229
7    1.419367
8    1.547110
9    1.701821
dtype: float64

Python中reduce函数等价于下面的reduce函数。上面reduce中的'1.0'就是initializer。
```Python
def reduce(function, iterable, initializer=None):
    it = iter(iterable)
    if initializer is None:
        try:
            initializer = next(it)
        except StopIteration:
            raise TypeError('reduce() of empty sequence with no initial value')
    accum_value = initializer
    for x in it:
        accum_value = function(accum_value, x)
    return accum_value
    ```

In [36]:
df = pd.DataFrame({'A' : [1, 1, 2, 2], 'B' : [1, -1, -1, 8.8]})
def replace(g):
    mask=g<0
    g.loc[mask] = g[~mask].mean()
    return g 
df.groupby('A').transform(replace)

     B
0  1.0
1  1.0
2  8.8
3  8.8

In [38]:
df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],index=pd.date_range('1/1/2000', periods=10))
df.iloc[3:7] = np.nan;df
df.transform(lambda x: (x - x.mean()) / x.std()) # transform有两个特点：一次只进行一个column的运算；每次生成的series与原来的index是一致的，也就是长度不变

                   A         B         C
2000-01-01 -0.724395 -0.511241  1.826157
2000-01-02 -0.072775  2.346062 -0.092735
2000-01-03 -0.399954  0.930921 -0.894394
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08 -1.691330 -0.667828  0.448389
2000-01-09 -0.032074 -0.497949  2.241958
2000-01-10  2.380715 -0.260366 -1.883177

In [48]:
df = pd.DataFrame({'code': ['foo', 'bar', 'baz'] * 2,'data': [0.16, -0.21, 0.63, 0.45, -0.59, 0.62],'flag': [False, True] * 3})
print('df','\n',df,'\n')
code_groups = df.groupby('code')
agg_n_sort_order= code_groups[['data']].transform(sum).sort_values(by='data') # 按每组加总值在原顺序基础上排序
sorted_df = df.loc[agg_n_sort_order.index];sorted_df

df
   code  data   flag
0  foo  0.16  False
1  bar -0.21   True
2  baz  0.63  False
3  foo  0.45   True
4  bar -0.59  False
5  baz  0.62   True

  code  data   flag
1  bar -0.21   True
4  bar -0.59  False
0  foo  0.16  False
3  foo  0.45   True
2  baz  0.63  False
5  baz  0.62   True

In [47]:
agg_n_sort_order

   data
1 -0.80
4 -0.80
0  0.61
3  0.61
2  0.95
5  0.95

In [45]:
code_groups[['data']]