# 1、基础

In [ ]:
x=1:10
y=x+rnorm(10,0,1)
fit=lm(y~x)
summary(fit)
plot(y)

In [ ]:
data("discoveries")
plot(discoveries,col="#333333",lwd=0.3,xlab="Year",main="Number of important discoveries per year")

In [ ]:
y=runif(1000,min=0,max=1)#y=rnorm(1000)
r_y=round(y)
plot(y)
plot(r_y)

In [ ]:
5L#长整型用L结尾
class(5L)

In [ ]:
1+2.0
6.66-0.06
6*8
9/5
10%%3#没有10%3这种运算

In [ ]:
#特殊数值类型
class(NaN)
class(Inf)#例如会在积分中用到：integrate(dnorm,3,Inf)
class(NA)#"logical"
class(NULL)

In [ ]:
#简单列表
c(1,2,3,4,5,6,7,8)
c('a','b','c','d')
c('a','b','c','d')=='abcd'
c('a','b','c','d')=='a'

In [ ]:
#序列生成以及一些有趣的序列
1:10
seq(from=0,to=100,by=2)
letters
LETTERS
month
month.name
month.abb

In [ ]:
letters[8]
month.name[8]
c(1,2,3,4,5,6,7,8)[8]
(1:10)[8]
seq(from=0,to=100,by=2)[8]

In [ ]:
#字符串和字符在R语言中没有区别(character)
'Harbes'
class('Harbes')
substr("My name is Harbes",12,18)#选取第12-18位的字符串
gsub('a','A',"My name is Harbes")#将所有”a“替换成”A“

In [ ]:
#逻辑值：布尔值+NA
class(TRUE)
class(FALSE)
class(NA)
TRUE==TRUE
TRUE==1
TRUE==c(0)
TRUE!=FALSE
TRUE!=NA# use "is.na" to check whether expression evaluates NA
is.na(NA)#TRUE

In [ ]:
#因子(为数据分类排序设计的)
list=c(1,2,3,'a',1,2,3,'a','b','c')#当存在字符串时，list中所有元素均为”character“
list2=c(1,2,3)#元素为”numeric“
f=factor(list)
levels(f)

In [ ]:
#自带数据
data(infert)#加载数据{自然以及引产导致的不育症}
infert$education

In [ ]:
#赋值
x=5
y<- "1" #推荐
1->z #可行，但很怪

In [ ]:
#转变数据类型
as.numeric(y)
as.character(x)

In [ ]:
#for循环【注意，无论if还是while循环，都很慢。推荐使用apply()来操作一串数据】
for (i in 1:8){
    print(i)
}
#或者
for (i in 1:9){print(i)}

In [ ]:
# while 循环
a=10
while(a>0){cat(a,"...",sep='');a=a-1}
#或者
while(a>-10){
    cat(a,"...",sep='')
    a=a-1
}

In [ ]:
#if/else
if (4>3){
    print('Yes!')
}else{
    print('No!')
}

In [ ]:
#函数
jiggle=function(x){
    x=x+rnorm(1,sd=.1)
    return(x)
}
set.seed(2716057)
jiggle(5)

# 2、数据容器
常用的有：vactors,matrices,data frames,arrays

In [ ]:
vec=c(1,2,3,4)
c(TRUE,8)
c('Harbes',TRUE,8)

In [ ]:
#数据索引与切片
vec[1]
which(vec%%2==0)
head(vec,1)
tail(vec,1)
vec[6]#c超出索引范围，NA
length(vec)
vec[2:3]
vec*4

In [ ]:
#一些内置函数
mean(vec)
sum(vec)
var(vec)
sd(vec)
abs((sd(vec))^2-var(vec))<1e-8
max(vec)
min(vec)

In [ ]:
mat=matrix(nrow=6,ncol=8,1:48)
mat
class(mat)
mat[1,]
mat[,1]
mat[6,6]
t(mat)
mat2=cbind(matrix(nrow=4,ncol=2,1:8),7:10)#把两个矩阵按列合并

In [ ]:
df=data.frame(c(6,7,8,9),c('dog','cat','bird','dog'))
names(df)=c('number','species')
class(df)
df
df$number
df[,1]
df[,'number']
class(df$number)
df[,2]
class(df[,2])#"factor",data.frame()会将字符向量转换为factor向量

In [ ]:
array(c(c(1,2,3,4),c(8,9,3,6)),dim=c(2,4))
array(c(c(c(2,300,4),c(8,9,0)),c(c(5,6,0),c(66,7,8))),dim=c(3,2,2))

In [ ]:
#列表(多维，允许不同类型)
list1=list(time=1:40)
list1$price=c(rnorm(40,0.5*list1$time,4))
list1

# 3、apply()函数组
主要包括：apply(),lapply(),sapply()

In [ ]:
#用法apply(x,MAR,function),其中，将function应用到行或者列，MAR=1表示行，MAR=2表示列
mat
myFun=function(x){return(x%%2)}
apply(mat,MAR=2,myFun)
?lapply
?sapply

In [ ]:
#plyr程序包的作用是用来改进apply()函数族
#install.packages("plyr")
require(plyr)
?plyr

# 4、载入数据

In [ ]:
#读取网上的一个文本
pets=read.csv("http://learnxinyminutes.com/docs/pets.csv")
head(pets,2)#前两行

In [ ]:
#保存数据
write.csv(pets,"pets.csv")

# 5、画图

In [ ]:
#散点图
plot(list1$time,list1$price,main='fake data')

In [ ]:
#回归图
linearModel=lm(price~time,data=list1)
linearModel#拟合结果
#abline(linearModel)#展示拟合结果
plot(linearModel)

In [ ]:
#直方图
hist(rpois(n=10000,lambda=5),col='thistle')

In [ ]:
#柱状图
barplot(c(1,4,5,1,2),names.arg=c('red','blue','purple','green','yellow'))

# 教程《R in action》

## Chapter 1：introduction to R

In [ ]:
# Listing 1.1 - A Sample R session
age <- c(1,3,5,2,11,9,3,9,12,3)
weight <- c(4.4,5.3,7.2,5.2,8.5,7.3,6.0,10.4,10.2,6.1)
mean(weight)
sd(weight)
cor(age,weight)
plot(age,weight)

In [ ]:
# Listing 1.2 - An example of commands used to manage the R Workspace. 

#setwd("C:/myprojects/project1") # change the path to one of your directories
options() #o ption settings are displayed 
options(digits=3) # numbers are formatted to print with three digitsafter the decimal place
x <- runif(20)
summary(x)
hist(x)
savehistory()
save.image()

In [ ]:
# Listing 1.3 - Working with a new package

help.start()
install.packages("vcd")
help(package="vcd")
library(vcd)
help(Arthritis)
Arthritis
example(Arthritis)

## Chapter 2：creating a dataset
### 2.1 R中常见的几种数据结构
* vector
* matrix
* array
* dataframe
* factor
* list

In [ ]:
#  Creating vectors
a <- c(1, 2, 5, 3, 6, -2, 4)
b <- c("one", "two", "three")
c <- c(TRUE, TRUE, TRUE, FALSE, TRUE, FALSE)

In [ ]:
# Using vector subscripts
a <- c(1, 2, 5, 3, 6, -2, 4)
a[3] # R语言的索引是从1开始的
a[c(1, 3, 5)]
a[2:6]

In [ ]:
a <- c("k", "j", "h", "a", "c", "m")
a[3]
a[c(1, 3, 5)]
a[2:6]

In [ ]:
# Listing 2.1 - Creating Matrices
y <- matrix(1:20, nrow=5, ncol=4) # 注意数字排列的方式，默认是先按列，也可以通过后面的byrow参数来调整
y
cells    <- c(1,26,24,68)
rnames   <- c("R1", "R2")
cnames   <- c("C1", "C2") 
mymatrix <- matrix(cells, nrow=2, ncol=2, byrow=TRUE,
                   dimnames=list(rnames, cnames)) 
mymatrix
mymatrix <- matrix(cells, nrow=2, ncol=2, byrow=FALSE,
                   dimnames=list(rnames, cnames))
mymatrix

In [ ]:
# Listing 2.2 - Using matrix subscripts【R的索引方式】
x <- matrix(1:10, nrow=2)
x
x[2,]
x[,2]
x[1,4]
x[1, c(4,5)]
x[2,3:5]

In [ ]:
# Listing 2.3 - Creating an array
dim1 <- c("A1", "A2")
dim2 <- c("B1", "B2", "B3")
dim3 <- c("C1", "C2", "C3", "C4")
z <- array(1:24, c(2,3,4), dimnames=list(dim1, dim2, dim3))
z

In [ ]:
# Listing 2.4 - Creating a dataframe
patientID <- c(1, 2, 3, 4)
age <- c(25, 34, 28, 52)
diabetes <- c("Type1", "Type2", "Type1", "Type1")
status <- c("Poor", "Improved", "Excellent", "Poor")
patientdata <- data.frame(patientID, age, diabetes, status)
patientdata

In [ ]:
# Listing 2.5 - Specifying elements of a dataframe
patientdata[1:2] # 【注意】此处不是dataframe的前两行，而是前两个label对应的数据
patientdata[c("diabetes","status")]
patientdata$age     
patientdata[1,2]

In [ ]:
# Listing 2.6 - Using factors
# 一般，变量有名义型(类别)、有序型(顺序)以及连续型变量(顺序+数量关系)。
# R中的因子(factor)就是指名义型变量以及有序型变量。
patientID <- c(1, 2, 3, 4)
age <- c(25, 34, 28, 52)
diabetes <- c("Type1", "Type2", "Type1", "Type1")
status <- c("Poor", "Improved", "Excellent", "Poor")
diabetes <- factor(diabetes)
status <- factor(status, order=TRUE)
patientdata <- data.frame(patientID, age, diabetes, status)
str(patientdata) # 此处的str()是显示对象的结构                              
summary(patientdata)

In [ ]:
# Listing 2.7 - Creating a list
# list是个大缸，似乎什么都可以往里装。
g <- "My First List"
h <- c(25, 26, 18, 39)
j <- matrix(1:10, nrow=5)
k <- c("one", "two", "three")
mylist <- list(title=g, ages=h, j, k)
mylist
str(mylist)

### 2.2 数据的输入

In [ ]:
# Entering data interactively from the keyboard
# 但在jupyter中无法完成
mydata <- data.frame(age=numeric(0),
                     gender=character(0), weight=numeric(0))
mydata <- edit(mydata)

In [ ]:
# Entering data inline
mydatatxt <- "
age gender weight
25 m 166
30 f 115
18 f 120
"
mydata <- read.table(header=TRUE, text=mydatatxt)
mydata
str(mydata)

In [ ]:
# Importing data from a delimited text file
# read the data into R using the read.table() function
grades <- read.csv("studentgrades.csv", header=TRUE,sep=",")# 原书code使用read.table有问题
grades # print data frame
#str(grades) # view data frame structure

In [ ]:
# Alternatively, import the data while specifying column classes 
grades <- read.csv("studentgrades.csv", header=TRUE,
                     row.names="StudentID", sep=",",
                     colClasses=c("character", "character", "character",
                                  "numeric", "numeric", "numeric"))
grades # print data frame
str(grades) # view data frame structure

## Chapter 3：getting started with graphs

In [ ]:
par(ask=TRUE)
opar <- par(no.readonly=TRUE) # make a copy of current settings

attach(mtcars) # be sure to execute this line # 加载自带的“mecars”数据

png('Regression of MPG on Weight.png') # 保存一张图片
 plot(wt, mpg)
 abline(lm(mpg~wt)) # 向图形中添加一条最优你和曲线
 title("Regression of MPG on Weight")
dev.off()
# Input data for drug example
dose  <- c(20, 30, 40, 45, 60)
drugA <- c(16, 20, 27, 40, 60)
drugB <- c(15, 18, 25, 31, 40)

plot(dose, drugA, type="b")

opar <- par(no.readonly=TRUE) # make a copy of current settings
par(lty=2, pch=17)            # change line type and symbol
plot(dose, drugA, type="b")   # generate a plot
par(opar)                     # restore the original settings 

plot(dose, drugA, type="b", lty=3, lwd=3, pch=15, cex=2)

In [ ]:
# choosing colors
library(RColorBrewer)
n <- 7
mycolors <- brewer.pal(n, "Set1") # 设置颜色
barplot(rep(1,n), col=mycolors)

n <- 10
mycolors <- rainbow(n)
pie(rep(1, n), labels=mycolors, col=mycolors)
mygrays <- gray(0:n/n) # 注意，0:n/n 是线产生0-n的序列，然后在统一除以n
pie(rep(1, n), labels=mygrays, col=mygrays)

In [ ]:
# Listing 3.1 - Using graphical parameters to control graph appearance	
dose <- c(20, 30, 40, 45, 60)
drugA <- c(16, 20, 27, 40, 60)
drugB <- c(15, 18, 25, 31, 40)
opar <- par(no.readonly=TRUE)
par(pin=c(2, 3)) # par()函数是用来设定图形参数的
par(lwd=2, cex=1.5)
par(cex.axis=.75, font.axis=3)
plot(dose, drugA, type="b", pch=19, lty=2, col="red") # 线型：lty=2为虚线，=6为'.-'...。pch=17为实心三角，=19为实心圆，=23为空心四角。还可以使用par设置：par(lty=2,pch=17)
plot(dose, drugB, type="b", pch=23, lty=6, col="blue", bg="green")
par(opar)

In [ ]:
# Adding text, lines, and symbols
plot(dose, drugA, type="b",  
     col="red", lty=2, pch=2, lwd=2,
     main="Clinical Trials for Drug A",  # 图标题
     sub="This is hypothetical data",   # 图下方的小标题
     xlab="Dosage", ylab="Drug Response",
     xlim=c(0, 60), ylim=c(0, 70))

In [ ]:
# Listing 3.2 - An Example of Custom Axes
x <- c(1:10)
y <- x
z <- 10/x
opar <- par(no.readonly=TRUE)
par(mar=c(5, 4, 4, 8) + 0.1)
plot(x, y, type="b",
     pch=21, col="red",
     yaxt="n", lty=3, ann=FALSE)
lines(x, z, type="b", pch=22, col="blue", lty=2)
axis(2, at=x, labels=x, col.axis="red", las=2)
axis(4, at=z, labels=round(z, digits=2),
     col.axis="blue", las=2, cex.axis=0.7, tck=-.01)
mtext("y=1/x", side=4, line=3, cex.lab=1, las=2, col="blue")
title("An Example of Creative Axes",
      xlab="X values",
      ylab="Y=X")
par(opar)

In [ ]:
# Listing 3.3 - Comparing Drug A and Drug B response by dose
dose <- c(20, 30, 40, 45, 60)
drugA <- c(16, 20, 27, 40, 60)
drugB <- c(15, 18, 25, 31, 40)
opar <- par(no.readonly=TRUE)
par(lwd=2, cex=1.5, font.lab=2)
plot(dose, drugA, type="b",
     pch=15, lty=1, col="red", ylim=c(0, 60),
     main="Drug A vs. Drug B",
     xlab="Drug Dosage", ylab="Drug Response")
lines(dose, drugB, type="b",
      pch=17, lty=2, col="blue")
abline(h=c(30), lwd=1.5, lty=2, col="gray")
library(Hmisc)
minor.tick(nx=3, ny=3, tick.ratio=0.5)
legend("topleft", inset=.05, title="Drug Type", c("A","B"),
       lty=c(1, 2), pch=c(15, 17), col=c("red", "blue"))
par(opar)

In [ ]:
# Example of labeling points
attach(mtcars)
plot(wt, mpg,
     main="Mileage vs. Car Weight",
     xlab="Weight", ylab="Mileage",
     pch=18, col="blue")
text(wt, mpg,
     row.names(mtcars),
     cex=0.6, pos=4, col="red")
detach(mtcars)

In [ ]:
# View font families 
opar <- par(no.readonly=TRUE)
par(cex=1.5)
plot(1:7,1:7,type="n")
text(3,3,"Example of default text")
text(4,4,family="mono","Example of mono-spaced text")
text(5,5,family="serif","Example of serif text")
par(opar)

In [ ]:
# Combining graphs
attach(mtcars)
opar <- par(no.readonly=TRUE)
par(mfrow=c(2,2))
plot(wt,mpg, main="Scatterplot of wt vs. mpg")
plot(wt,disp, main="Scatterplot of wt vs. disp")
hist(wt, main="Histogram of wt")
boxplot(wt, main="Boxplot of wt")
par(opar)
detach(mtcars)

attach(mtcars)
opar <- par(no.readonly=TRUE)
par(mfrow=c(3,1))
hist(wt)
hist(mpg)
hist(disp)
par(opar)
detach(mtcars)

attach(mtcars)
layout(matrix(c(1,1,2,3), 2, 2, byrow = TRUE))
hist(wt)
hist(mpg)
hist(disp)
detach(mtcars)


attach(mtcars)
layout(matrix(c(1, 1, 2, 3), 2, 2, byrow = TRUE),
       widths=c(3, 1), heights=c(1, 2))
hist(wt)
hist(mpg)
hist(disp)
detach(mtcars)

In [ ]:
# Listing 3.4 - Fine placement of figures in a graph
opar <- par(no.readonly=TRUE)
par(fig=c(0, 0.8, 0, 0.8))
plot(mtcars$mpg, mtcars$wt,
     xlab="Miles Per Gallon",
     ylab="Car Weight")
par(fig=c(0, 0.8, 0.55, 1), new=TRUE)
boxplot(mtcars$mpg, horizontal=TRUE, axes=FALSE)
par(fig=c(0.65, 1, 0, 0.8), new=TRUE)
boxplot(mtcars$wt, axes=FALSE)
mtext("Enhanced Scatterplot", side=3, outer=TRUE, line=-3)
par(opar)

## Chapter 4：Basic data management

## Chapter 5：Advanced data management

## Chapter 6：Basic graphs

In [ ]:
par(ask=TRUE)
opar <- par(no.readonly=TRUE) # save original parameter settings

library(vcd)
counts <- table(Arthritis$Improved)
counts

In [ ]:
# Listing 6.1 - Simple bar plot
# vertical barplot
barplot(counts, 
        main="Simple Bar Plot",
        xlab="Improvement", ylab="Frequency")
# horizontal bar plot   
barplot(counts, 
        main="Horizontal Bar Plot", 
        xlab="Frequency", ylab="Improvement", 
        horiz=TRUE)

In [ ]:
# obtain 2-way frequency table
library(vcd)
counts <- table(Arthritis$Improved, Arthritis$Treatment)
counts

In [ ]:
# Listing 6.2 - Stacked and grouped bar plots 
# stacked barplot
barplot(counts, 
        main="Stacked Bar Plot",
        xlab="Treatment", ylab="Frequency", 
        col=c("red", "yellow","green"),            
        legend=rownames(counts)) 

# grouped barplot                       
barplot(counts, 
        main="Grouped Bar Plot", 
        xlab="Treatment", ylab="Frequency",
        col=c("red", "yellow", "green"),
        legend=rownames(counts), beside=TRUE)

In [ ]:
# Listing 6.3 - Bar plot for sorted mean values
states <- data.frame(state.region, state.x77)
means <- aggregate(states$Illiteracy, by=list(state.region), FUN=mean)
means

means <- means[order(means$x),]  
means

barplot(means$x, names.arg=means$Group.1) 
title("Mean Illiteracy Rate")

In [ ]:
# Listing 6.4 - Fitting labels in bar plots
par(las=2)                # set label text perpendicular to the axis
par(mar=c(5,8,4,2))       # increase the y-axis margin
counts <- table(Arthritis$Improved) # get the data for the bars

# produce the graph
barplot(counts, 
        main="Treatment Outcome", horiz=TRUE, cex.names=0.8,
        names.arg=c("No Improvement", "Some Improvement", "Marked Improvement")
)
par(opar)


# Spinograms
library(vcd)
attach(Arthritis)
counts <- table(Treatment,Improved)
spine(counts, main="Spinogram Example")
detach(Arthritis)

In [ ]:
# Listing 6.5 - Pie charts
par(mfrow=c(2,2))                             
slices <- c(10, 12,4, 16, 8) 
lbls <- c("US", "UK", "Australia", "Germany", "France")

pie(slices, labels = lbls, 
    main="Simple Pie Chart")

pct <- round(slices/sum(slices)*100)                      
lbls <- paste(lbls, pct) 
lbls <- paste(lbls,"%",sep="")
pie(slices,labels = lbls, col=rainbow(length(lbls)),
    main="Pie Chart with Percentages")

library(plotrix)                                               
pie3D(slices, labels=lbls,explode=0.1,
      main="3D Pie Chart ")

mytable <- table(state.region)                                   
lbls <- paste(names(mytable), "\n", mytable, sep="")
pie(mytable, labels = lbls, 
    main="Pie Chart from a dataframe\n (with sample sizes)")

par(opar)


# Fan plots
library(plotrix)
slices <- c(10, 12,4, 16, 8) 
lbls <- c("US", "UK", "Australia", "Germany", "France")   
fan.plot(slices, labels = lbls, main="Fan Plot")

In [ ]:
# Listing 6.6 - Histograms
# simple histogram                                                        1
hist(mtcars$mpg)

# colored histogram with specified number of bins        
hist(mtcars$mpg, 
     breaks=12, 
     col="red", 
     xlab="Miles Per Gallon", 
     main="Colored histogram with 12 bins")

# colored histogram with rug plot, frame, and specified number of bins 
hist(mtcars$mpg, 
     freq=FALSE, 
     breaks=12, 
     col="red", 
     xlab="Miles Per Gallon", 
     main="Histogram, rug plot, density curve")  
rug(jitter(mtcars$mpg)) 
lines(density(mtcars$mpg), col="blue", lwd=2)

# histogram with superimposed normal curve (Thanks to Peter Dalgaard)  
x <- mtcars$mpg 
h<-hist(x, 
        breaks=12, 
        col="red", 
        xlab="Miles Per Gallon", 
        main="Histogram with normal curve and box") 
xfit<-seq(min(x),max(x),length=40) 
yfit<-dnorm(xfit,mean=mean(x),sd=sd(x)) 
yfit <- yfit*diff(h$mids[1:2])*length(x) 
lines(xfit, yfit, col="blue", lwd=2)
box()

In [ ]:
# Listing 6.7 - Kernel density plot
d <- density(mtcars$mpg) # returns the density data  
plot(d) # plots the results 

d <- density(mtcars$mpg)                                  
plot(d, main="Kernel Density of Miles Per Gallon")       
polygon(d, col="red", border="blue")                     
rug(mtcars$mpg, col="brown")

In [ ]:
# Listing 6.8 - Comparing kernel density plots
par(lwd=2)                                                       
library(sm)
attach(mtcars)

# create value labels 
cyl.f <- factor(cyl, levels= c(4, 6, 8),                               
                labels = c("4 cylinder", "6 cylinder", "8 cylinder")) 

# plot densities 
sm.density.compare(mpg, cyl, xlab="Miles Per Gallon")                
title(main="MPG Distribution by Car Cylinders")

# add legend via mouse click
#colfill<-c(2:(2+length(levels(cyl.f)))) 
#cat("Use mouse to place legend...","\n\n")
#legend(locator(1), levels(cyl.f), fill=colfill) 
#detach(mtcars)
#par(lwd=1)


# parallel box plots
boxplot(mpg~cyl,data=mtcars,
        main="Car Milage Data", 
        xlab="Number of Cylinders", 
        ylab="Miles Per Gallon")


# notched box plots
boxplot(mpg~cyl,data=mtcars, 
        notch=TRUE, 
        varwidth=TRUE,
        col="red",
        main="Car Mileage Data", 
        xlab="Number of Cylinders", 
        ylab="Miles Per Gallon")

In [ ]:
# Listing 6.9 - Box plots for two crossed factors
# create a factor for number of cylinders
mtcars$cyl.f <- factor(mtcars$cyl,
                       levels=c(4,6,8),
                       labels=c("4","6","8"))

# create a factor for transmission type
mtcars$am.f <- factor(mtcars$am, 
                      levels=c(0,1), 
                      labels=c("auto","standard"))

# generate boxplot
boxplot(mpg ~ am.f *cyl.f, 
        data=mtcars, 
        varwidth=TRUE,
        col=c("gold", "darkgreen"),
        main="MPG Distribution by Auto Type", 
        xlab="Auto Type")

In [ ]:
# Listing 6.10 - Violin plots

library(vioplot)
x1 <- mtcars$mpg[mtcars$cyl==4] 
x2 <- mtcars$mpg[mtcars$cyl==6]
x3 <- mtcars$mpg[mtcars$cyl==8]
vioplot(x1, x2, x3, 
        names=c("4 cyl", "6 cyl", "8 cyl"), 
        col="gold")
title("Violin Plots of Miles Per Gallon")


# dot chart
dotchart(mtcars$mpg,labels=row.names(mtcars),cex=.7,
         main="Gas Mileage for Car Models", 
         xlab="Miles Per Gallon")

In [ ]:
# Listing 6.11 - Dot plot grouped, sorted, and colored
x <- mtcars[order(mtcars$mpg),]                      
x$cyl <- factor(x$cyl)                                 
x$color[x$cyl==4] <- "red"                              
x$color[x$cyl==6] <- "blue"
x$color[x$cyl==8] <- "darkgreen" 
dotchart(x$mpg,
         labels = row.names(x),                               
         cex=.7, 
         pch=19,                                              
         groups = x$cyl,                                       
         gcolor = "black",
         color = x$color,
         main = "Gas Mileage for Car Models\ngrouped by cylinder",
         xlab = "Miles Per Gallon")

## Chapter 7：Basic statistics

In [ ]:
mt <- mtcars[c("mpg", "hp", "wt", "am")] # 注意数据引用的方式
head(mt)

In [ ]:
# Listing 7.1 - Descriptive stats via summary
mt <- mtcars[c("mpg", "hp", "wt", "am")]
summary(mt)

In [ ]:
# Listing 7.2 - descriptive stats via sapply
mystats <- function(x, na.omit=FALSE){
  if (na.omit)
    x <- x[!is.na(x)]
  m <- mean(x)
  n <- length(x)
  s <- sd(x)
  skew <- sum((x-m)^3/s^3)/n
  kurt <- sum((x-m)^4/s^4)/n - 3
  return(c(n=n, mean=m, stdev=s, skew=skew, kurtosis=kurt))
}

myvars <- c("mpg", "hp", "wt")
sapply(mtcars[myvars], mystats)

In [ ]:
# Listing 7.3 - Descriptive stats via describe (Hmisc)
library(Hmisc)
myvars <- c("mpg", "hp", "wt")
describe(mtcars[myvars])

In [ ]:
# Listing 7.,4 - Descriptive stats via stat.desc (pastecs)
library(pastecs)
myvars <- c("mpg", "hp", "wt")
stat.desc(mtcars[myvars])

In [ ]:
# Listing 7.5 - Descriptive stats via describe (psych)
library(psych)
myvars <- c("mpg", "hp", "wt")
describe(mtcars[myvars])

In [ ]:
# Listing 7.6 - Descriptive stats by group with aggregate
myvars <- c("mpg", "hp", "wt")
aggregate(mtcars[myvars], by=list(am=mtcars$am), mean)
aggregate(mtcars[myvars], by=list(am=mtcars$am), sd)

In [ ]:
# Listing 7.7 - Descriptive stats by group via by
dstats <- function(x)sapply(x, mystats)
myvars <- c("mpg", "hp", "wt")
by(mtcars[myvars], mtcars$am, dstats)

In [ ]:
# Listing 7.8 - Descriptive stats by group via summaryBy
library(doBy)
summaryBy(mpg+hp+wt~am, data=mtcars, FUN=mystats)

In [ ]:
# Listing 7.9 - Descriptive stats by group via describe.by (psych)
library(psych)
myvars <- c("mpg", "hp", "wt")
describeBy(mtcars[myvars], list(am=mtcars$am))

In [ ]:
# summary statistics by group via the reshape package
library(reshape)
dstats <- function(x)(c(n=length(x), mean=mean(x), sd=sd(x)))
dfm <- melt(mtcars, measure.vars=c("mpg", "hp", "wt"), 
            id.vars=c("am", "cyl"))
cast(dfm, am + cyl + variable ~ ., dstats)

In [84]:
# frequency tables
library(vcd)
head(Arthritis)

  ID Treatment Sex  Age Improved
1 57 Treated   Male 27  Some
2 46 Treated   Male 29  None
3 77 Treated   Male 30  None
4 17 Treated   Male 32  Marked
5 36 Treated   Male 46  Marked
6 23 Treated   Male 58  Marked

In [85]:
# one way table
mytable <- with(Arthritis, table(Improved))
mytable  # frequencies
prop.table(mytable) # proportions
prop.table(mytable)*100 # percentages

Improved
  None   Some Marked
    42     14     28

Improved
     None      Some    Marked
0.5000000 0.1666667 0.3333333

Improved
    None     Some   Marked
50.00000 16.66667 33.33333

In [86]:
# two way table
mytable <- xtabs(~ Treatment+Improved, data=Arthritis)
mytable # frequencies
margin.table(mytable,1) #row sums
margin.table(mytable, 2) # column sums
prop.table(mytable) # cell proportions
prop.table(mytable, 1) # row proportions
prop.table(mytable, 2) # column proportions
addmargins(mytable) # add row and column sums to table

         Improved
Treatment None Some Marked
  Placebo   29    7      7
  Treated   13    7     21

Treatment
Placebo Treated
     43      41

Improved
  None   Some Marked
    42     14     28

         Improved
Treatment       None       Some     Marked
  Placebo 0.34523810 0.08333333 0.08333333
  Treated 0.15476190 0.08333333 0.25000000

         Improved
Treatment      None      Some    Marked
  Placebo 0.6744186 0.1627907 0.1627907
  Treated 0.3170732 0.1707317 0.5121951

         Improved
Treatment      None      Some    Marked
  Placebo 0.6904762 0.5000000 0.2500000
  Treated 0.3095238 0.5000000 0.7500000

         Improved
Treatment None Some Marked Sum
  Placebo 29    7    7     43
  Treated 13    7   21     41
  Sum     42   14   28     84

In [87]:
# more complex tables
addmargins(prop.table(mytable))
addmargins(prop.table(mytable, 1), 2)
addmargins(prop.table(mytable, 2), 1)

         Improved
Treatment None      Some       Marked     Sum
  Placebo 0.3452381 0.08333333 0.08333333 0.5119048
  Treated 0.1547619 0.08333333 0.25000000 0.4880952
  Sum     0.5000000 0.16666667 0.33333333 1.0000000

         Improved
Treatment None      Some      Marked    Sum
  Placebo 0.6744186 0.1627907 0.1627907 1
  Treated 0.3170732 0.1707317 0.5121951 1

         Improved
Treatment None      Some Marked
  Placebo 0.6904762 0.5  0.25
  Treated 0.3095238 0.5  0.75
  Sum     1.0000000 1.0  1.00

In [90]:
# Listing 7.10 - Two way table using CrossTable
library(gmodels)
CrossTable(Arthritis$Treatment, Arthritis$Improved)

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  84


                    | Arthritis$Improved
Arthritis$Treatment |      None |      Some |    Marked | Row Total |
--------------------|-----------|-----------|-----------|-----------|
            Placebo |        29 |         7 |         7 |        43 |
                    |     2.616 |     0.004 |     3.752 |           |
                    |     0.674 |     0.163 |     0.163 |     0.512 |
                    |     0.690 |     0.500 |     0.250 |           |
                    |     0.345 |     0.083 |     0.083 |           |
--------------------|-----------|-----------|-----------|-----------|
            Treated |        13 |         7 |        21 |        41 |
                    |     2.744 |     0.004 |     3.935 |           |
                    |     0.317 |     0.171 |     0.512 |     0.488 |
                    |     0.310 |     0.500 |     0.750 |           |
                    |     0.155 |     0.083 |     0.250 |           |
--------------------|-----------|-----------|-----------|-----------|
       Column Total |        42 |        14 |        28 |        84 |
                    |     0.500 |     0.167 |     0.333 |           |
--------------------|-----------|-----------|-----------|-----------|

In [91]:
# Listing 7.11 - Three way table
mytable <- xtabs(~ Treatment+Sex+Improved, data=Arthritis)
mytable
ftable(mytable) 
margin.table(mytable, 1)
margin.table(mytable, 2)
margin.table(mytable, 2)
margin.table(mytable, c(1,3))
ftable(prop.table(mytable, c(1,2)))
ftable(addmargins(prop.table(mytable, c(1, 2)), 3))

, , Improved = None

         Sex
Treatment Female Male
  Placebo     19   10
  Treated      6    7

, , Improved = Some

         Sex
Treatment Female Male
  Placebo      7    0
  Treated      5    2

, , Improved = Marked

         Sex
Treatment Female Male
  Placebo      6    1
  Treated     16    5

                 Improved None Some Marked
Treatment Sex
Placebo   Female            19    7      6
          Male              10    0      1
Treated   Female             6    5     16
          Male               7    2      5

Treatment
Placebo Treated
     43      41

Sex
Female   Male
    59     25

Sex
Female   Male
    59     25

         Improved
Treatment None Some Marked
  Placebo   29    7      7
  Treated   13    7     21

                 Improved       None       Some     Marked
Treatment Sex
Placebo   Female          0.59375000 0.21875000 0.18750000
          Male            0.90909091 0.00000000 0.09090909
Treated   Female          0.22222222 0.18518519 0.59259259
          Male            0.50000000 0.14285714 0.35714286

                 Improved       None       Some     Marked        Sum
Treatment Sex
Placebo   Female          0.59375000 0.21875000 0.18750000 1.00000000
          Male            0.90909091 0.00000000 0.09090909 1.00000000
Treated   Female          0.22222222 0.18518519 0.59259259 1.00000000
          Male            0.50000000 0.14285714 0.35714286 1.00000000

In [93]:
# Listing 7.12 - Chi-square test of independence
library(vcd)
mytable <- xtabs(~Treatment+Improved, data=Arthritis)
chisq.test(mytable)
mytable <- xtabs(~Improved+Sex, data=Arthritis)
chisq.test(mytable)

	Pearson's Chi-squared test

data:  mytable
X-squared = 13.055, df = 2, p-value = 0.001463

Warning message in chisq.test(mytable):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  mytable
X-squared = 4.8407, df = 2, p-value = 0.08889

In [94]:
# Fisher's exact test
mytable <- xtabs(~Treatment+Improved, data=Arthritis)
fisher.test(mytable)

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.001393
alternative hypothesis: two.sided

In [95]:
# Chochran-Mantel-Haenszel test
mytable <- xtabs(~Treatment+Improved+Sex, data=Arthritis)
mantelhaen.test(mytable)

	Cochran-Mantel-Haenszel test

data:  mytable
Cochran-Mantel-Haenszel M^2 = 14.632, df = 2, p-value = 0.0006647

In [96]:
# Listing 7.13 - Measures of association for a two-way table
library(vcd)
mytable <- xtabs(~Treatment+Improved, data=Arthritis)
assocstats(mytable)

                    X^2 df  P(> X^2)
Likelihood Ratio 13.530  2 0.0011536
Pearson          13.055  2 0.0014626

Phi-Coefficient   : NA
Contingency Coeff.: 0.367
Cramer's V        : 0.394

In [98]:
# Listing 7.14 Covariances and correlations
states<- state.x77[,1:6]
cov(states)
cor(states)
cor(states, method="spearman")

x <- states[,c("Population", "Income", "Illiteracy", "HS Grad")]
y <- states[,c("Life Exp", "Murder")]
cor(x,y)

           Population    Income      Illiteracy   Life Exp     Murder
Population 19931683.7588 571229.7796  292.8679592 -407.8424612 5663.523714
Income       571229.7796 377573.3061 -163.7020408  280.6631837 -521.894286
Illiteracy      292.8680   -163.7020    0.3715306   -0.4815122    1.581776
Life Exp       -407.8425    280.6632   -0.4815122    1.8020204   -3.869480
Murder         5663.5237   -521.8943    1.5817755   -3.8694804   13.627465
HS Grad       -3551.5096   3076.7690   -3.2354694    6.3126849  -14.549616
           HS Grad
Population -3551.509551
Income      3076.768980
Illiteracy    -3.235469
Life Exp       6.312685
Murder       -14.549616
HS Grad       65.237894

           Population  Income     Illiteracy Life Exp    Murder     HS Grad
Population  1.00000000  0.2082276  0.1076224 -0.06805195  0.3436428 -0.09848975
Income      0.20822756  1.0000000 -0.4370752  0.34025534 -0.2300776  0.61993232
Illiteracy  0.10762237 -0.4370752  1.0000000 -0.58847793  0.7029752 -0.65718861
Life Exp   -0.06805195  0.3402553 -0.5884779  1.00000000 -0.7808458  0.58221620
Murder      0.34364275 -0.2300776  0.7029752 -0.78084575  1.0000000 -0.48797102
HS Grad    -0.09848975  0.6199323 -0.6571886  0.58221620 -0.4879710  1.00000000

           Population Income     Illiteracy Life Exp   Murder     HS Grad
Population  1.0000000  0.1246098  0.3130496 -0.1040171  0.3457401 -0.3833649
Income      0.1246098  1.0000000 -0.3145948  0.3241050 -0.2174623  0.5104809
Illiteracy  0.3130496 -0.3145948  1.0000000 -0.5553735  0.6723592 -0.6545396
Life Exp   -0.1040171  0.3241050 -0.5553735  1.0000000 -0.7802406  0.5239410
Murder      0.3457401 -0.2174623  0.6723592 -0.7802406  1.0000000 -0.4367330
HS Grad    -0.3833649  0.5104809 -0.6545396  0.5239410 -0.4367330  1.0000000

           Life Exp    Murder
Population -0.06805195  0.3436428
Income      0.34025534 -0.2300776
Illiteracy -0.58847793  0.7029752
HS Grad     0.58221620 -0.4879710

In [101]:
# partial correlations
library(ggm)
# partial correlation of population and murder rate, controlling
# for income, illiteracy rate, and HS graduation rate
pcor(c(1,5,2,3,6), cov(states))

[1] 0.3462724

In [102]:
# Listing 7.15 - Testing a correlation coefficient for significance
cor.test(states[,3], states[,5])

	Pearson's product-moment correlation

data:  states[, 3] and states[, 5]
t = 6.8479, df = 48, p-value = 1.258e-08
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.5279280 0.8207295
sample estimates:
      cor
0.7029752

In [103]:
# Listing 7.16 - Correlation matrix and tests of significance via corr.test
library(psych)
corr.test(states, use="complete")

Call:corr.test(x = states, use = "complete")
Correlation matrix
           Population Income Illiteracy Life Exp Murder HS Grad
Population       1.00   0.21       0.11    -0.07   0.34   -0.10
Income           0.21   1.00      -0.44     0.34  -0.23    0.62
Illiteracy       0.11  -0.44       1.00    -0.59   0.70   -0.66
Life Exp        -0.07   0.34      -0.59     1.00  -0.78    0.58
Murder           0.34  -0.23       0.70    -0.78   1.00   -0.49
HS Grad         -0.10   0.62      -0.66     0.58  -0.49    1.00
Sample Size
[1] 50
Probability values (Entries above the diagonal are adjusted for multiple tests.)
           Population Income Illiteracy Life Exp Murder HS Grad
Population       0.00   0.59       1.00      1.0   0.10       1
Income           0.15   0.00       0.01      0.1   0.54       0
Illiteracy       0.46   0.00       0.00      0.0   0.00       0
Life Exp         0.64   0.02       0.00      0.0   0.00       0
Murder           0.01   0.11       0.00      0.0   0.00       0
HS Grad          0.50   0.00       0.00      0.0   0.00       0

 To see confidence intervals of the correlations, print with the short=FALSE option

In [106]:
# t test
library(MASS)
t.test(Prob ~ So, data=UScrime)

# dependent t test
sapply(UScrime[c("U1","U2")], function(x)(c(mean=mean(x),sd=sd(x))))
with(UScrime, t.test(U1, U2, paired=TRUE))


# Wilcoxon two group comparison
with(UScrime, by(Prob, So, median))
wilcox.test(Prob ~ So, data=UScrime)

sapply(UScrime[c("U1", "U2")], median)
with(UScrime, wilcox.test(U1, U2, paired=TRUE))


# Kruskal Wallis test
states <- data.frame(state.region, state.x77)
kruskal.test(Illiteracy ~ state.region, data=states)

	Welch Two Sample t-test

data:  Prob by So
t = -3.8954, df = 24.925, p-value = 0.0006506
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.03852569 -0.01187439
sample estimates:
mean in group 0 mean in group 1
     0.03851265      0.06371269

     U1       U2
mean 95.46809 33.97872
sd   18.02878  8.44545

	Paired t-test

data:  U1 and U2
t = 32.407, df = 46, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 57.67003 65.30870
sample estimates:
mean of the differences
               61.48936

So: 0
[1] 0.038201
------------------------------------------------------------
So: 1
[1] 0.055552

	Wilcoxon rank sum test

data:  Prob by So
W = 81, p-value = 8.488e-05
alternative hypothesis: true location shift is not equal to 0

U1 U2
92 34

Warning message in wilcox.test.default(U1, U2, paired = TRUE):
"cannot compute exact p-value with ties"

	Wilcoxon signed rank test with continuity correction

data:  U1 and U2
V = 1128, p-value = 2.464e-09
alternative hypothesis: true location shift is not equal to 0

	Kruskal-Wallis rank sum test

data:  Illiteracy by state.region
Kruskal-Wallis chi-squared = 22.672, df = 3, p-value = 4.726e-05

In [107]:
# Listing 7.17 - Nonparametric multiple comparisons
source("http://www.statmethods.net/RiA/wmc.txt")              
states <- data.frame(state.region, state.x77)
wmc(Illiteracy ~ state.region, data=states, method="holm")

Descriptive Statistics

           West North Central Northeast    South
n      13.00000      12.00000   9.00000 16.00000
median  0.60000       0.70000   1.10000  1.75000
mad     0.14826       0.14826   0.29652  0.59304

Multiple Comparisons (Wilcoxon Rank Sum Tests)
Probability Adjustment = holm

        Group.1       Group.2    W            p
1          West North Central 88.0 8.665618e-01
2          West     Northeast 46.5 8.665618e-01
3          West         South 39.0 1.788186e-02   *
4 North Central     Northeast 20.5 5.359707e-02   .
5 North Central         South  2.0 8.051509e-05 ***
6     Northeast         South 18.0 1.187644e-02   *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1