# 主题：多元统计分析
#### 参考教材：
* 应用多元统计分析。Wolfgang Hardle; Leopold Simar
* 实用多元统计分析。Richard A.Johnson; Dean W.Wichern

In [1]:
#如果使用python，则需要先使用下面的命令
#%load_ext rpy2.ipython
# 而且，调用R时，前面都要加上“%%R”

In [3]:
library(gdata)
data<- read.xls("F:/python/R-project/mvcase.xls",sheet='E3.2',perl="C:\\Strawberry\\perl\\bin\\perl.exe",fileEncoding='utf-8')
# data<- read.xls("F:/python/R-project/mvcase.xls",sheet=3,perl="C:\\Strawberry\\perl\\bin\\perl.exe",fileEncoding='utf-8')
head(data)

  X      x1      x2     x3      x4
1 广州市 1486.05 478.55 1454.67  31.75
2 韶关市   28.55   7.56   27.75   0.77
3 深圳市 3266.52 940.86 3120.18 350.60
4 珠海市  465.07  74.60  447.08  37.74
5 汕头市  147.73  43.80  140.01   5.39
6 佛山市  930.49 191.99  891.08  45.63

In [14]:
# 导入数据以及基本的描述统计
library(gdata)
data<- read.xls("F:/python/R-project/mvexer.xls",sheet='Case2',perl="C:\\Strawberry\\perl\\bin\\perl.exe",fileEncoding='utf-8')
summary(data)

 地区    性别     教育程度      年龄           月收入         月支出
 A:204   男:603   低:319   Min.   : 6.00   Min.   : 637   Min.   : 797
 B:401   女:597   高:303   1st Qu.:34.00   1st Qu.:2388   1st Qu.:1722
 C:384            中:578   Median :40.00   Median :2978   Median :1993
 D:211                     Mean   :40.15   Mean   :3006   Mean   :1997
                           3rd Qu.:47.00   3rd Qu.:3624   3rd Qu.:2262
                           Max.   :72.00   Max.   :6239   Max.   :3385

In [22]:
# 直观分析
## 定性分析
table(地区)

ERROR: Error in table(地区): 找不到对象'地区'

In [23]:
data=read.table('clipboard',header=T)
summary(data)

 地区    性别     教育程度      年龄           月收入         月支出
 A:204   男:603   低:319   Min.   : 6.00   Min.   : 637   Min.   : 797
 B:401   女:597   高:303   1st Qu.:34.00   1st Qu.:2388   1st Qu.:1722
 C:384            中:578   Median :40.00   Median :2978   Median :1993
 D:211                     Mean   :40.15   Mean   :3006   Mean   :1997
                           3rd Qu.:47.00   3rd Qu.:3624   3rd Qu.:2262
                           Max.   :72.00   Max.   :6239   Max.   :3385

In [21]:
table(data(地区))

     地区 性别 教育程度 年龄 月收入 月支出
1    A    女   中       55   2299   1423
2    A    女   低       39   3378   2022
3    A    女   中       33   3460   1868
4    B    男   高       41   4564   1918
5    B    女   高       55   3206   1906
6    A    女   中       48   4043   2233
7    D    女   高       36   3395   1428
8    C    男   中       50   5363   1931
9    B    男   中       49   6227   2608
10   D    女   中       21   2836   1164
11   A    女   低       27   3308   2417
12   B    男   中       29   2355   1287
13   C    女   中       43   4033   1353
14   C    女   中       31   3048   1742
15   C    女   中       42   4799   1754
16   B    男   低       41   2614   1785
17   B    男   低       38   3091   1289
18   C    女   高       54   1513   1452
19   C    女   中       22   1293   2266
20   A    女   高       37   3426   1656
21   D    女   中       38   2580   2415
22   B    女   中       19   4076   1571
23   B    女   中       39   1286   1985
24   A    女   中       27   2897   2439
25   B    男   中       45   3315   1832
26   C    男   中       38   3564   1712
27   C    女   中       47   3217   1744
28   C    男   低       46   2811   1815
29   D    女   中       39   2347   1591
30   A    男   中       42   3627   1535
...  ...  ...  ...      ...  ...    ...
1171 C    女   高       62   4298   2032
1172 B    男   低       45   3116   1934
1173 D    男   中       38   2753   2056
1174 C    女   高       26   2430   2408
1175 C    女   中       53   2638   2223
1176 C    女   中       49   4112   1087
1177 B    女   低       28   2299   1866
1178 B    女   低       32   2270   2112
1179 C    男   低       55   3129   2297
1180 A    女   低       51   3244   1711
1181 C    女   高       54   3564   1642
1182 C    女   高       39   2185   1779
1183 A    女   低       34   2953   2123
1184 B    女   中       47   2680   2497
1185 B    女   中       39   3100   1744
1186 C    男   高       40   3820   2099
1187 C    男   中       48   4364   1573
1188 C    男   高       28   3969   1451
1189 B    女   低       46   3067   1708
1190 D    男   低       41   3518   2294
1191 D    男   低       42   3822   1759
1192 C    女   中       29   2401   2133
1193 C    女   低       38   3449   2138
1194 A    女   高       40   2683   1843
1195 A    女   高       43   3768   1239
1196 C    男   高       51   2268   1315
1197 B    女   中       45   2869   2479
1198 B    男   中       24   4498   1832
1199 D    男   低       22   3802   1747
1200 B    男   中       41   3150   1480